:root{--syntax_normal:#1b1e23;--syntax_comment:#a9b0bc;--syntax_number:#20a5ba;--syntax_keyword:#c30771;--syntax_atom:#10a778;--syntax_string:#008ec4;--syntax_error:#ffbedc;--syntax_unknown_variable:#838383;--syntax_known_variable:#005f87;--syntax_matchbracket:#20bbfc;--syntax_key:#6636b4;--mono_fonts:82%/1.5 Menlo,Consolas,monospace}.observablehq--collapsed,.observablehq--expanded,.observablehq--function,.observablehq--gray,.observablehq--import,.observablehq--string:after,.observablehq--string:before{color:var(--syntax_normal)}.observablehq--collapsed,.observablehq--inspect a{cursor:pointer}.observablehq--field{text-indent:-1em;margin-left:1em}.observablehq--empty{color:var(--syntax_comment)}.observablehq--blue,.observablehq--keyword{color:#3182bd}.observablehq--forbidden,.observablehq--pink{color:#e377c2}.observablehq--orange{color:#e6550d}.observablehq--boolean,.observablehq--null,.observablehq--undefined{color:var(--syntax_atom)}.observablehq--bigint,.observablehq--date,.observablehq--green,.observablehq--number,.observablehq--regexp,.observablehq--symbol{color:var(--syntax_number)}.observablehq--index,.observablehq--key{color:var(--syntax_key)}.observablehq--prototype-key{color:#aaa}.observablehq--empty{font-style:oblique}.observablehq--purple,.observablehq--string{color:var(--syntax_string)}.observablehq--error,.observablehq--red{color:#e7040f}.observablehq--inspect{font:var(--mono_fonts);overflow-x:auto;display:block;white-space:pre}.observablehq--error .observablehq--inspect{word-break:break-all;white-space:pre-wrap}
.tooltip-bubble {
    position: absolute;
    top: 1%;
    right: 3%;
    text-align: center;
    width: 40%;
    height: auto;
    padding: 5px;
    font: 12px;
    background: white;
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    border: 4px solid #20a5ba;
    visibility: hidden;
  }

.tooltip-content {
    padding-top: 5%;
    padding-left: 3%;
    text-align: left;
}

.tooltip-name {
    font-size: 30px;
    text-decoration: underline;
    padding-right: 3%;
}

.tooltip-meaning{
    font-size: 20px;
}

.tooltip-lang{
    font-size: 20px;
    padding-right: 0%;
    width: 30%;
    /* border-bottom: solid; */
}
.tooltip-building{
    font-size: 15px;
    padding-right: 0%;
}

#bubble-text{
    background-color: green;
}

.chart {
    width: 45%;
    height: 500px;
    float: left;
    background-color: #ffffff;
    border-radius: 10px;
    border: 4px solid #19b244;
    margin: 10px;
}

#map {
  width: 26.5%;
  height: 65%;
  background-color: #ffffff;
  border-radius: 10px;
  border: 4px solid #19b244;
  margin: 0px;
  float: right;
  position: absolute;
  top: 30%;
  right: 4%;
}