color1 = #666666
color2 = #CBCBCB
color-en = #50A3FA
color-ge = #F56942
color-fr = #D4A533
color-de = #F56942
color-es = #B9EB44
color-it = #33D482
color-la = #AB42F5
color-el = #59F5EE
color-ru = #59F5EE
color-pt = #59F5EE
color-ja = #59F5EE